.blog-comment-wrapper {
  margin-top: 100px;

  .blog-comment-create {
    margin-bottom: 70px;

    .blog-comment-submit {
      float: right;
      margin-top: 10px;
    }
  }

  .blog-comment-item {
    .blog-comment-author {
      font-size: 1rem;
      margin-left: 5px;
    }

    .blog-comment-date {
      font-size: 0.8rem;
      margin-left: 5px;
    }

    .blog-comment-delete {
      margin-left: 5px;
    }

    .blog-comment-content {
      font-size: 1rem;
      margin-top: 10px;
    }
  }
}
