.header-wrapper {
  background-color: #ffffff;
  z-index: 500;
  width: 100%;
  height: 90px;
  position: fixed;
  padding: 10px;

  .header-logo {
    font-size: 2.5rem;
    float: left;
    padding: 1.5vh 0 0 50px;
    color: dimgray;
  }

  .header-logo:hover {
    color: #292961;
  }

  .header-sign-up-btn {
    float: right;
    top: 33px;
    right: 160px;
    font-size: 0.8rem;
  }

  .header-sign-in-btn {
    float: right;
    top: 33px;
    left: 15px;
    font-size: 0.8rem;
  }

  .header-avatar-wrapper {
    cursor: pointer;
    .header-avatar {
      float: right;
      right: 150px;
      top: 33px;
    }
  }

  .header-menu-icon {
    float: right;
    padding: 35px 50px 0 0;
    font-size: 30px;
    color: dimgray;
  }

  .header-menu-icon:hover {
    color: #292961;
  }

  .header-loading-icon {
    float: right;
    padding: 35px 80px 0 0;
    font-size: 30px;
  }
}

.m-header-wrapper {
  background-color: #ffffff;
  z-index: 500;
  width: 100%;
  height: 100px;
  position: fixed;
  padding: 10px;

  .m-header-logo {
    font-size: 5rem;
    float: left;
    width: 20%;
    min-width: 110px;
    height: auto;
    padding: 2vh 0 0 5vw;
    color: dimgray;
  }

  .m-header-logo:hover {
    color: #292961;
  }

  .m-header-sign-up-btn {
    float: right;
    top: 38px;
    right: calc(80px + 3.5vw);
    font-size: 2rem;
  }

  .m-header-sign-in-btn {
    float: right;
    top: 38px;
    left: calc(40px - 3.5vw);
    font-size: 2rem;
  }

  .m-header-avatar-wrapper {
    cursor: pointer;

    .m-header-avatar {
      float: right;
      top: 33px;
      right: 70px;
      font-size: 3rem;
    }
  }

  .m-header-menu-icon {
    float: right;
    margin: 18px 1vw 0 0;
    font-size: 4rem;
  }

  .m-header-menu-icon:hover {
    color: #292961;
  }

  .m-header-loading-icon {
    float: right;
    margin: 35px 10vw 0 0;
    font-size: 4rem;
  }
}
