.create-blog-page-wrapper {
  margin: 120px 16vw;

  .create-blog-page-title-input {
    max-width: 500px;
  }

  .create-blog-page-submit {
    margin: 50px 10px 0 0;
  }
}

@media (max-width: 1000px) {
  .create-blog-page-wrapper {
    margin: 120px 2vw;

    .create-blog-page-title-input {
      max-width: 500px;
    }

    .create-blog-page-submit {
      margin: 50px 10px 0 0;
    }
  }
}
