.custom-image-crop-wrapper {
  .select-image-btn-wrapper {
    margin: 10px 0 10px 0;

    .select-image-btn {
      .select-image-label {
        cursor: pointer;

        input[type='file'] {
          display: none;
        }
      }
    }
  }

  .select-image-cropper-wrapper {
    .select-image-cropper {
      height: 500px;
      margin: 20px;
    }

    .select-image-cropper-result {
      max-width: 100%;
      height: auto;
    }
  }
}
