.custom-image-crop-wrapper {
  .select-image-btn-wrapper {
    margin: 10px 0 10px 0;

    .select-image-btn {
      .select-image-label {
        cursor: pointer;

        input[type='file'] {
          display: none;
        }
      }
    }
  }

  .select-image-cropper {
    margin-right: 20px;
    height: auto;
  }

  .select-image-cropper-result {
    margin-right: 20px;
    height: auto;
  }
}
